GEMINI_API_KEY="AIzaSyCGdZaeyUG4cyJENHR7J6yBiFEWpHYThHg"
APP_URL="https://ais-dev-a2p2swrajammjxpfpiafge-840906971283.europe-west2.run.app"
ARKESEL_API_KEY="ZWRVbU9VbXdUR0VPTmppS0N3cVk"
SMS_ONLINE_GH_KEY="c580290d515a903a5dc5e817d95701c126c159253da264523a3f8c79e2ecd8b3"
TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_PHONE_NUMBER=""
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="465"
SMTP_USER="benjaminrose5050@gmail.com"
SMTP_PASS="yxya nhbu vzhn huhr"
